/* You can add global styles to this file, and also import other style files */
:root {
    --accent-content: #056063;
    --accent-sidebar: #c9f0ea;
    --bg-content: #e4f6ff;
    --bg-sidebar: #163a59;
}

body {
    font-family: Calibri;
}

.light {
    font-size: 0.8em;
    letter-spacing: 0.2em;
    color: #888;
    text-transform: uppercase;
    margin-top: 1em;
}

.emphasize {
    font-style: italic;
}

.svg-sprite {
    position: absolute;
    width: 0;
    height: 0;
    overflow: hidden;
}

.icon {
    width: 1.5em;
    height: 1.5em;
    display: block;
}

ul {
    margin: 0;
    padding-left: 2em;
}

a {
    color: white;
    text-decoration-line: none;
    border-bottom: 0.1em solid white;
    padding-bottom: 0.1em;
}

p {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    line-height: 1.4;
}

h3 {
    width: fit-content;
    font-size: 2em;
    border-bottom: 0.1em solid black;
    margin: 0;
}